:root {
    /* color palette */
    --background: #121212;
    --card_background: #1F1F1F;
    --border-color: #444444;
    --primary_text: #FFFFFF;
    --secondary_text: #B3B3B3;
    --active: #007BFF;
    --hover: #4A9DFF;
    --danger: #E94D4D;
  
    --font-family: 'Courier New', Courier, monospace;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

h1 {
  text-align: left;
  margin: 0;

  font-family: var(--font-family);
  color: var(--primary_text);
}

h2 {
  padding-top: 10px;
  text-align: left;
  padding: 10px 10px 0px 10px;
  font-family: var(--font-family);
  color: var(--primary_text);
}

p {
  color: var(--secondary_text);
  font-family: var(--font-family);
}

a {
  font-family: var(--font-family);
  color: #007bff;
}

/*Header stuff under this*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  width: 100%;
}

.title {
  color: var(--active);
  padding-left: 15px;
  margin: 0;
}

.header-icon-container {
  padding-right: 15px;
}

/*stuff after header*/

.song-container {
  background-color: var(--card_background);
  width: 92.5%;
  margin: 5px 5px 10px 2.5%;

  border-radius: 10px;
  border-width: 2px;
  border-color: var(--border-color);
  border-style: solid;
}

.song-header {
  text-align: center;
}

.selection-container {
  display: flex;
}

.genre-container {
  background-color: var(--card_background);
  border-color: 5px var(--border-color);
  border-style: solid;
  border-radius: 10px;

  margin: 5px 5px 10px 2.5%;
  width: 45%;
}

.mood-container {
  background-color: var(--card_background);
  border-color: 5px solid var(--border-color);
  border-radius: 10px;

  margin: 5px 5px 10px 2.5%;
  width: 45%;
}

.top-songs-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-songs-button {
  color: var(--primary_text);
  background-color: var(--card_background);
  border: 2px solid var(--border-color);

  width: 150px;
  height: 40px;
  border-radius: 20px;

  transition: background-color .3s;
}

.top-songs-button:hover {
  background-color: var(--hover);
}

.top-songs-button:active {
  background-color: var(--active);
}

/* LOGIN AND SIGNUP STUFF BELOW THIS */
.login-page {
  background-color: var(--background);

  width: 100%;
  height: 100vh;
}

.login-container {
  background-color: var(--card_background);

  width: 50%;
  height: 100%;
  float: right;
  border-radius: 50px 0 0 50px;
}

.app-name {
  color: var(--primary_text);
  margin: 50px;
  font-size: 25px;
  float: left;
}

.sign-up-link {
  color: var(--secondary_text);
  margin: 62.5px;
  float: right;
}

/* Sign up, login, and profile stuff below */
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100vh;
}

.auth-card {
  background-color: var(--card_background);
  
  width: 300px;

  border-radius: 25px;
  border-color: var(--border-color);
  border-style: solid;
  border-width: 2px;
}

.auth-header {
  color: var(--primary_text);
  text-align: center;
}

.auth-text {
  color: var(--secondary_text);

  font-size: 12px;
  text-align: center;
}

.auth-input, .auth-button, .delete-button{
  display :block;
  margin: 0 auto;

  height: 40px;
  width: 85%;
  margin-bottom: 15px;
  padding: 0px 2px 0px 2px;

  border-radius: 5px;
  border-color: var(--border-color);
  border-width: 1%;
  border-style: solid;
}

.auth-button {
  width: 87%;
  border-color: var(--card_background);
  background-color: var(--active);
  color: var(--primary_text);
}

.delete-button {
  width: 87%;
  border-color: var(--card_background);
  background-color: var(--danger);
  color: var(--primary_text);
}

.auth-redirect {
  text-align: center;
}