:root {
    /* color palette */
    --background: #121212;
    --card_background: #1F1F1F;
    --border-color: #444444;
    --primary_text: #FFFFFF;
    --secondary_text: #B3B3B3;
    --active: #007BFF;
    --hover: #4A9DFF;
    --danger: #E94D4D;

    font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

h2 {
  padding-top: 10px;
  text-align: center;
  color: var(--primary_text);
}

p {
  color: var(--secondary_text);
}

.title {
  color: var(--primary_text);
  text-align: center;
}

.genre-container {
  background-color: var(--border-color);
  margin: 15px 0px;
}

.mood-container {
  background-color: var(--border-color);
  margin: 15px 0px;
}

.top-songs-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-songs-button {
  color: var(--primary_text);
  background-color: var(--card_background);
  border: 2px solid var(--border-color);

  width: 150px;
  height: 40px;
  border-radius: 20px;

  transition: background-color .3s;
}

.top-songs-button:hover {
  background-color: var(--hover);
}

.top-songs-button:active {
  background-color: var(--active);
}