:root {
    /* color palette */
    --background: #121212;
    --card_background: #1F1F1F;
    --border-color: #444444;
    --primary_text: #FFFFFF;
    --secondary_text: #B3B3B3;
    --active: #007BFF;
    --hover: #4A9DFF;
    --danger: #E94D4D;
  
    --font-family: 'Courier New', Courier, monospace;
}

.song-bar {
    width: 100%;
    height: 100px;
}

.song-title {
    color: var(--primary_text);
}

.artist {
    color: var(--secondary_text);
}