:root {
    /* color palette */
    --background: #121212;
    --card_background: #1F1F1F;
    --border-color: #444444;
    --primary_text: #FFFFFF;
    --secondary_text: #B3B3B3;
    --active: #007BFF;
    --hover: #4A9DFF;
    --danger: #E94D4D;
  
    --font-family: 'Courier New', Courier, monospace;
}

.song-bar {
  display: flex;

  width: 98%;
  height: 40px;
}

.index {
    font-size: 38px;
    display: inline;
    color: var(--primary_text);
    padding-right: 20px;

}

.image {
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 10px;
}

.song-info{
    height: 100%;
    padding-left: 10px;
}

.song-title {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--primary_text);
}

.artist {
    font-size: 10px;
    margin-top: 0px;
    color: var(--secondary_text);
}

.like-button-container{
    margin-left: auto;
}

.like-button {
    fill: #E94D4D;
}